/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    p {
        display: none;
    }
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-j1 {
    width: 8.33%;
}

.col-j2 {
    width: 16.66%;
}

.col-j3 {
    width: 25%;
}

.col-j4 {
    width: 33.33%;
}

.col-j5 {
    width: 41.66%;
}

.col-j6 {
    width: 50%;
}

.col-j7 {
    width: 58.33%;
}

.col-j8 {
    width: 66.66%;
}

.col-j9 {
    width: 75%;
}

.col-j10 {
    width: 83.33%;
}

.col-j11 {
    width: 91.66%;
}

.col-j12 {
    width: 100%;
}
